@import url('https://fonts.googleapis.com/css?family=Montserrat:500&display=swap');
@import url('https://fonts.googleapis.com/css?family=Josefin+Slab:600i&display=swap');


/*Setting up Page */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a:link {
  text-decoration: none;
  color: white;
}

a:visited {
  text-decoration: none;
  color: white;
}

a:active {
  text-decoration: none;
  color: white;
}



body {
  font-weight: 300;
  font-family: "Montserrat", sans-serif;
  background-color: #191A1E;
}

/*Header and Nav Bar */
header {
  font-size: 100%;
  line-height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  color: #7e7e7e;
}

.burger  div{
  width: 25px;
  height: 2px;
  background-color: white;
  margin: 8px 20px;
  display: none;
}

header img {
  height: 75px;
  width: auto;
}

header img:hover {
  cursor: pointer;
}

header ul {
  display: flex;
  padding: 20px;
  justify-content: space-around;
  list-style: none;
  margin-left: auto;
  align-items: center;
}

header li {
  padding: 10px;
  margin: 20px;
}

header li:hover {
  color: whitesmoke;
  cursor: pointer;
}

#navGit img {
  height: 35px;
  width: auto;
}

#navLinked img {
  height: 30px;
  width: auto;
}

.grow {
  transition: all .2s ease-in-out;
}

.grow:hover {
  transform: scale(1.2);
}

/* Setting up underline animation for each link*/
.navBtn {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
}
.navBtn:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 51%;
  right: 51%;
  bottom: 0;
  background: #1371f5;
  height: 4px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.navBtn:hover:before, .navBtn:focus:before, .navBtn:active:before {
  left: 0;
  right: 0;
}

/*pushing body of page down below header.*/
/* Maybe a better method?*/
main {
  padding-top: 137.5px;
}

/*Starting the about section styling*/
#aboutDiv1 {
  min-height: 800px;
  width: 100%;
  margin-right: 50px;
}

#ii {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 100px;
}

#aboutDiv2, #aboutDiv3 {
  padding: 20px;
  margin: 20px;
  display: inline-block;
}

#aboutDiv2 {
  background-color: rgb(26, 25, 25);
  margin-right: 100px;
  border-radius: 5px;
}

#aboutDiv2 img {
  height: auto;
  width: 250px;
  box-shadow: 0 0 3px whitesmoke;
}

#aboutDiv3 {
  color: rgb(114, 114, 114);
  font-family: sans-serif;
  text-align: left;
  line-height: 35px;
  margin-left: 50px;
  margin-bottom: 100px;
  font-size: 150%;
  display: block;
}

#aboutDiv3 h2 {
  padding-bottom: 15px;
  color: whitesmoke;
}

/*Resume Button*/
.btn {
  background-color: dodgerblue;
  border: 3px solid dodgerblue;
  margin-top: 40px;
  color: white;
  border-radius: 15px;
  width: 175px;
  text-align: center;
}

.btn:hover {
  cursor: pointer;
  transition-duration: 0.3s;
  background-color: transparent;
}

/**/
/*Projects Section*/
#projects {
  background: #8e9eab;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #eef2f3, #8e9eab);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #eef2f3, #8e9eab); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  width: 100%;
  display: grid;
  grid-template-columns: 1fr repeat(12, minmax(auto, 60px)) 1fr;
  grid-gap: 40px;
  padding: 60px 0;
}

.text--medium {
  font-family: sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: white;
}

.text--small {
  font-family: sans-serif;
  font-size: 12px;
  line-height: 20px;
  font-weight: 400;
  color: white;
}

/*Cards section*/
.cards {
  grid-column: 2 / span 12;
  display: grid;
  grid-template-columns: repeat(12, minmax(auto, 60px));
  grid-gap: 40px;
}

.card {
  grid-column-end: span 4;
  display: flex;
  flex-direction: column;
  background-color: #39393b;
  cursor: pointer;
  transition: all 0.3s ease-in 0s;
}

.card:hover {
  box-shadow: 0 0 20px #191A1E;
}

/*Image of Cards*/
.card__image-container {
  width: 100%;
  padding-top: 56.25%;
  overflow: hidden;
  position: relative;
}

.card__image img, .card__image2 img, .card__image3 img, .card__image4 img, .card__image5 img, .card__image6 img {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.card__image, .card__image2, .card__image3, .card__image4, .card__image5, .card__image6 {
  display: none;
}

/* Next & Previous buttons*/
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: whitesmoke;
  font-weight: bold;
  font-size: 18px;
  transition: 03.s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/*Move Next button to the right*/
.next {
  right: 0;
  border-radius:  3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/*Image Number Text*/
.numbertext {
  position: absolute;
  font-size: 12px;
  margin: 4px;
  padding: 4px 8px;
  z-index: 2;
  background-color: rgb(128, 128, 128, .4);
  top: 0;
  color: whitesmoke;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: .3s;
  animation-name: fade;
  animation-duration: 1s;
}

/*webkit for fade*/
@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.card__content {
  padding: 20px;
}

.card__title {
  margin-bottom: 20px;
}

.card__info {
  display: flex;
  align-self: flex-end;
  position: relative;
  flex-direction: column;
}

.card__text {
  display: flexbox;
  margin-bottom: 10px;
}

.card__git {
  margin-left: auto;
  padding: 5px 20px;
  background-color: #303032;
  border-radius: 20px;
  transition: all .3s ease-in-out;
  display: flexbox;
}

.card__git:hover {
  background-color: #222224;
  box-shadow: 0 0 3px #303032;
}



/*contact Section*/
#contact {
  min-height: 500px;
  width: 100%;
  text-align: center;
}
.contactDiv{
  width: 40%;
  display: inline-block;
  background-color: rgb(128, 128, 128, .4);
  margin: 60px;
  color: whitesmoke;
}

.contact-title{
  padding: 30px;
}

.contact-title h1{
  font-size: 32px;
  line-height: 10px;
  padding: 20px;
}

.contact-title h2{
  font-size: 16px;
}

form{
  margin-top: 50px;
}

.form-control {
  width: 600px;
  background-color: transparent;
  border: none;
  outline: none;
  border-bottom: 1px solid grey;
  color: #fff;
  font-size: 18px;
  margin-bottom: 16px;
}

input{
  height: 45px;
}

form .submit {
  background: dodgerblue;
  border: 3px solid dodgerblue;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 2px;
  height: 50px;
  margin-top: 20px;
  transition: all .3s ease-out ;
}

form .submit:hover {
  cursor: pointer;
  transform: scale(1.1);
}



/*Responsiveness*/
@media only screen and (max-width: 1550px){
  .contact-title h1{
    font-size: 28px;
  }

  .contact-title h2{
    font-size: 12px;
  }

  .form-control {
    width: 500px;
    font-size: 16px;
  }
}

@media only screen and (max-width: 1300px){
  .contact-title h1{
    font-size: 20px;
  }

  .contact-title h2{
    font-size: 14px;
  }

  .form-control {
    width: 400px;
  }
}

@media only screen and (max-width: 1000px) {
  .card {
    grid-column-end: span 6;
  }

  .contactDiv {
    width: 70%;
  }

  .contact-title h1{
    font-size: 28px;
  }

  .contact-title h2{
    font-size: 14px;
  }

  .form-control {
    width: 400px;
  }

  header li {
    padding: 0px;
    margin: 10px;
  }
}

@media only screen and (max-width: 700px) {
body {
  overflow-x: hidden;
}

.grow:hover {
  transform: none;
}

.nav-links {
  position: absolute;
  margin: 0px;
  right: 0px;
  width: 50%;
  height: auto;
  top: 75px;
  background-color: #444444;
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: translateX(100%);
  transition: transform 0.5s ease-in;
}
.burger {
  position: flex;
  margin-left: 150px;
  cursor: pointer;
}

.burger div{
  display: block;
  transition: all 0.3s ease;
}

.nav-links li{
  width: 100%;
  margin: 0px;
  padding: 20px 0px;
  opacity: 0;
}

.nav-active {
  transform: translateX(0%);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-8px,6px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  transform: rotate(45deg) translate(-8px,-6px);
}

  .card {
    grid-column-end: span 12;
    grid-gap: 20px;
  }

  .contactDiv {
    width: 90%;
    margin: 10px;
  }

  #ii {
    flex-direction: column;
  }

  #aboutDiv2 {
    margin-right: 0;
  }

  #aboutDiv3 {
    font-size: 125%;
    margin-left: 0;
  }
}

@media only screen and (max-width: 500px) {
  #projects {
    grid: 20px;
  }
  
  .card {
    grid-column-end: span 12;
  }

  .contact-title h1{
    font-size: 16px;
  }

  .contact-title h2{
    font-size: 14px;
  }

  .form-control {
    width: 300px;
  }

  #aboutDiv3 {
    font-size: 100%;
    line-height: 20px;
  }
}

@media only screen and (max-width: 500px) {
  #projects {
    grid-template-columns: 10px repeat(6,1fr) 10px;
    grid: 20px;
  }

  .cards {
    grid-column: 2 / span 6;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 20px;
  }
  
  .card {
    grid-column-end: span 6;
  }
}